.container {
	width: 90%;
	margin: 0 auto;
}

.content__grupo {
	display: flex;
	width: 100%;
	align-items: center;
}
.content__grupoItem,
.content__grupoImg {
	width: 50%;
	min-height: 25.54rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1.87rem;
}

.content__grupoImm {
	background-color: #4f2d81;
	color: #fff;
}
.content__grupoIm {
	background-color: #c7c6c8;
}
.content__grupoItem p {
	text-align: center;
	font-size: 2.25rem;
	font-weight: 500;
	letter-spacing: 1px;
}

.content__grupoImg {
	background-image: url(../public/imf-not-found.webp);
	background-position: center center;
	background-size: cover;
}

.content__grupoBtn {
	width: max-content;
	height: max-content;
	padding: 0.62rem 0.93rem;
	background-color: #4f2d81;
	color: #fff;
	font-size: 1.25rem;
	font-weight: 700;
	border-radius: 0.62rem;
	transition: all 0.3s ease;
}
.content__grupoBtn:hover {
	transition: all 0.3s ease;
	transform: scale(0.93);
}

.content__grupoBtn {
	margin-top: 12.5rem;
}

/* article */

.hero {
	display: flex;
	padding: 1.25rem 0;
	background-color: #c7c6c8;
	height: 15rem;
	align-items: center;
	justify-content: center;
}

.hero p {
	text-align: center;
	font-size: 1.75rem;
	font-weight: 700;
	letter-spacing: 1px;
}

/* section */

.contentSection {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2px;
}

.solicitud {
	width: 100%;
	padding: 1.25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.solicitud p {
	font-size: 1.75rem;
	text-align: center;
	letter-spacing: 1px;
}
.solicitud__btn {
	margin-top: 6.25rem;
	font-size: 1.25rem;
	width: max-content;
	height: max-content;
	background-color: #4f2d81;
	color: #fff;
	padding: 0.62rem 0.93rem;
	border-radius: 0.62rem;
	transition: all 0.3s ease;
}
.solicitud__btn:hover {
	transition: all 0.3s ease;
	transform: scale(0.93);
}

.content__formS {
	padding: 1.25rem;
	font-size: 1.25rem;
	letter-spacing: 1px;
}

.content__formCantidad {
	margin-bottom: 0.93rem;
	display: flex;
	flex-direction: column;
	gap: 0.62rem;
}

.content__formFineducom {
	margin-bottom: 0.93rem;
	display: flex;
	flex-direction: column;
}
.content__formFineducom h4 {
	margin-bottom: 0.62rem;
}

.content__formGrupoInput {
	display: flex;
	gap: 3.125rem;
}
.content__formLabel {
	display: flex;
	align-items: center;
	gap: 0.62rem;
}
.content__formFAQ h4 {
	margin-bottom: 0.62rem;
}
.content__formActividad {
	margin-top: 0.62rem;
}
.content__formActividad h4 {
	margin-bottom: 0.62rem;
}
.content__formMonto {
	margin-top: 0.62rem;
}
.content__formMonto h4 {
	margin-bottom: 0.62rem;
}
.content__formPlazos {
	margin-top: 0.62rem;
	margin-top: 0.62rem;
}
.content__formPlazos h4 {
	margin-bottom: 0.62rem;
}
.content__formPagos {
	margin: 0.93rem 0;
}
.content__formPagos h4 {
	margin-bottom: 0.62rem;
}
.content__formBtn {
	background-color: #4f2d81;
	color: #fff;
	padding: 0.62rem 0.93rem;
	border: none;
	border-radius: 0.62rem;
}
