.nav {
	// background-color: tomato;
	height: 6.25rem;
	position: relative;
	z-index: 1000;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 80%;
		max-width: 120rem;
		height: 100%;
		margin: 0 auto;
	}
	&__link {
		display: flex;
		gap: 0.9375rem;
		padding: 0 1.875rem;
		height: 100%;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		&:hover .nav__icon {
			color: #9b58ff;
			transition: all 0.3s ease;
			transform: rotate(-180deg);
		}
		&--inside {
			padding: 1.875rem 6.25rem 1.875rem 1.25rem;
			text-transform: capitalize;
			text-align: center;
			font-size: 1.25rem;
			font-weight: bold;
			&:hover {
				color: white;
				background-color: #b283f9;
			}
		}
	}
	&__icon {
		font-size: 1.75rem;
		transition: all 0.3s ease;
	}
}

.menu {
	height: 100%;
	transition: all 0.5s ease;
	display: flex;
	font-size: 1.25rem;
	&__item {
		position: relative;
		height: 100%;
		&:hover {
			--clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			--transform: rotate(0deg);
		}
		--clip: polygon(0 0, 100% 0, 100% 0, 0 0);
		--transform: rotate(-180deg);
	}
	&__nesting {
		clip-path: var(--clip);
		transition: clip-path 0.3s;
		position: absolute;
		right: 0;
		bottom: 0;
		width: max-content;
		transform: translateY(100%);
		background-color: #9b58ff;
	}
}

.nav__btn {
	background-color: #9b58ff;
	width: max-content;
	font-size: 1.25rem;
	text-transform: uppercase;
	padding: 1.25rem 0.63rem;
	border-radius: 0.63rem;
	color: white;
	transition: all 0.3s ease;
	font-style: italic;
}
