*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.15;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}
